<!DOCTYPE html>
<html>
    <head>

        <!--Style Sheets-->
        <link href="app.css" rel="stylesheet" />

        <!--Library Scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <!--Application Script-->
        <script src="app/app.js"></script>

        <!--Controllers-->
        <script src="app/pancake/pancakeCtrl.js"></script>

    </head>

    <div ng-controller="PancakesCtrl as viewModel">
        <body ng-app = "pancakesProblem">
            <form name="pancakesForm">
                <h1>Weave Pancake Problem</h1>
                Number of test cases:
                <input
                        type="number"
                        name="inputTestCaseNumber"
                        placeholder="1-100"
                        ng-model="viewModel.numberOfTestCases"
                        ng-pattern="/^([1-9]|[1-9][0-9]|100)$/"
                        ng-change="viewModel.onCasesInputChange()"
                >
                <span class="error" ng-show="pancakesForm.inputTestCaseNumber.$dirty && pancakesForm.inputTestCaseNumber.$error.pattern">
                    The number must be between 1 and 100</span>
                <span class="error" ng-show="pancakesForm.inputTestCaseNumber.$dirty && pancakesForm.inputTestCaseNumber.$error.number">
                    Only numbers allowed</span>
            </form><br \>

            <form name="stackDirection">
                <div ng-repeat="pancakes in viewModel.pancakesTestCasesArray track by $index">

                    <input
                            type="string"
                            name="stack_{{$index}}"
                            ng-model="viewModel.pancakesTestCasesArray[$index]"
                            ng-pattern="/^(\+|-){0,}$/"
                            required
                            ng-change="viewModel.onDirectionInputChange($index)"
                            ng-maxLength=100
                            ng-minlength=1
                    >
                    <span class="error" ng-show="stackDirection['stack_' + $index].$error.pattern">use "+" character to indicate face up and "-" character to indicate face down</span>
                    <span class="error" ng-show="(stackDirection['stack_' + $index].$dirty && stackDirection['stack_' + $index].$error.required) || stackDirection['stack_' + $index].$error.maxlength">
                        Must have between 1-100 pancakes in a stack
                    </span>
                    <span ng-show="stackDirection['stack_' + $index].$dirty && stackDirection['stack_' + $index].$valid">
                        Case #{{$index+1}}: {{viewModel.requiredFlipsArray[$index]}}
                    </span>

                </div>
            </form>

        </body>
    </div>
</html>
